@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Poppins:wght@400;600&family=Raleway:wght@400;600;700&family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #001f3f;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  padding: 50px 15px;
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  body {
    font-size: 15px;
  }
  .container {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .container {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  body {
    font-size: 13px;
  }
  .container {
    max-width: 540px;
  }
}
/*start landing*/
.landing-page {
  min-height: 100vh;
  padding-bottom: 120px;
  position: relative;
  background-image: url("../images/bg-2.jpg");
  background-size: cover;
}
@media (max-width: 992px) {
  .landing-page {
    padding-top: 5.6em;
  }
}
.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/*end landing*/
.header-area {
  position: relative;
  z-index: 2;
  color: white;
}
.header-area .header {
  width: 100%;
  height: 5.6em;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 992px) {
  .header-area .header {
    position: fixed;
    top: 0;
    justify-content: space-between;
    padding: 0 35px;
  }
}
.header-area .header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
.header-area .header nav ul {
  display: flex;
}
.header-area .header nav ul li a {
  transition: 0.3s;
  margin-right: 40px;
  color: #8d8d8d;
}
.header-area .header nav ul li a.active {
  color: var(--primary-color);
  font-weight: bold;
}
.header-area .header nav a.contact-btn {
  padding: 10px 35px;
  border-radius: 4px;
  border: none;
  background: #00a6fb;
  cursor: pointer;
  width: fit-content;
  color: white;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
.header-area .header nav a.contact-btn:hover {
  box-shadow: none;
}
.header-area .header .hamburger {
  display: none;
  width: 50px;
  padding: 4px;
  cursor: pointer;
}
.header-area .header .hamburger .bar {
  width: 100%;
  height: 5px;
  background: var(--primary-color);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
.header-area .header .hamburger #bar1 {
  transform: translateY(-4px);
}
.header-area .header .hamburger #bar3 {
  transform: translateY(4px);
}
.header-area .header .hamburger.change #bar1 {
  transform: translateY(5px) rotateZ(-45deg);
}
.header-area .header .hamburger.change #bar2 {
  opacity: 0;
}
.header-area .header .hamburger.change #bar3 {
  transform: translateY(-5px) rotateZ(45deg);
}
@media (max-width: 992px) {
  .header-area .header nav.nav-bar {
    right: -260px;
  }
  .header-area .header nav {
    display: flex;
    width: 260px;
    min-height: 100vh;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.3s;
    background-color: white;
    padding: 70px 0;
  }
  .header-area .header nav ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 80%;
    margin-bottom: 30px;
  }
  .header-area .header nav ul li {
    margin-bottom: 10px;
  }
  .header-area .header nav ul li a {
    padding: 12px 10px;
    display: inline-block;
    margin: 0;
    width: 100%;
  }
  .header-area .header nav ul li a.active {
    width: 100%;
    border-radius: 12px;
    background-color: #f0f1f6;
  }
  .header-area .header nav a.contact-btn {
    width: 80%;
    text-align: center;
  }
  .header-area .header .hamburger {
    display: block;
    z-index: 1;
    position: fixed;
    right: 30px;
    top: 25px;
  }
}
.header-area .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-area .hero .hero-title {
  text-align: center;
  font-size: 3.25em;
  width: 60%;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 768px) {
  .header-area .hero .hero-title {
    font-size: 2em;
    width: 100%;
  }
}
.header-area .hero .hero-description {
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 60%;
  font-size: 1.1em;
}
@media (max-width: 768px) {
  .header-area .hero .hero-description {
    width: 90%;
    font-size: 1em;
  }
}
.header-area .hero .feature-items {
  display: flex;
  margin-top: 80px;
}
@media (max-width: 768px) {
  .header-area .hero .feature-items {
    flex-direction: column;
    gap: 25px;
  }
}
.header-area .hero .feature-items .feature-item {
  cursor: pointer;
  margin-right: 30px;
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 15px 10px;
}
.header-area .hero .feature-items .feature-item div {
  transition: 0.3s;
  color: var(--primary-color);
  text-align: center;
  padding-top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 1.37em;
  font-weight: 600;
}
@media (max-width: 768px) {
  .header-area .hero .feature-items .feature-item {
    margin: 0;
  }
}
@media (max-width: 576px) {
  .header-area .hero .feature-items .feature-item img {
    width: 250px;
  }
}

.option-box .random-backgrounds .yes, .option-box .random-backgrounds .no {
  width: 50px;
  display: inline-block;
  background-color: #00a6fb;
  color: white;
  border-radius: 4px;
  padding: 4px 10px;
  font-weight: bold;
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.5;
  cursor: pointer;
}

.skills .box-skills, .about-us .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services .service .container .content-box p, .services .service .container .content-box span, .services .service .container .content-box ul {
  color: #d7d7d7;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

.contact .container .message-form form .name, .contact .container .message-form form .email, .contact .container .message-form form .textarea {
  border: none;
  outline: none;
}

.contact .container .message-form form .name, .contact .container .message-form form .email, .contact .container .message-form form .textarea {
  padding: 15px 20px;
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
}

.popup-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11;
  position: fixed;
  left: 0;
  top: 0;
}

.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px;
  border: 1px solid #ccc;
  z-index: 12;
}
.popup-box img {
  width: 100%;
  min-width: 480px;
}
@media (max-width: 576px) {
  .popup-box img {
    width: 285px;
    min-width: 100%;
  }
}
.popup-box h3 {
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
  margin: 0;
  margin-bottom: 10px;
}
.popup-box .close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 20px;
  font-weight: bold;
  width: 40px;
  line-height: 40px;
  height: 40px;
  cursor: pointer;
  color: white;
  background-color: var(--primary-color);
  text-align: center;
  border-radius: 50%;
}

.setting-box {
  position: fixed;
  left: -250px;
  top: 0;
  background: white;
  z-index: 1000;
  width: 250px;
  min-height: 100vh;
  transition: 0.3s ease-in-out;
}
.setting-box .toggle-settings {
  position: absolute;
  top: 130px;
  padding: 10px;
  background: white;
  right: -30px;
  cursor: pointer;
  font-size: 20px;
}
.setting-box .toggle-settings i {
  transition: 0.6s ease-in-out;
}
.setting-box .toggle-settings .fa-chevron-right.left {
  transform: rotateY(180deg);
}
.setting-box.open {
  left: 0;
  border: 1px solid #dcd6d6;
  border-radius: 4px;
}
.setting-box .option-box {
  padding: 10px;
  background: #eee;
  text-align: center;
  margin: 10px;
}
.setting-box .option-box h4 {
  margin: 0;
  color: #5f5f5f;
}
.setting-box .reset-options {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background: #f44336;
  cursor: pointer;
  width: fit-content;
  color: white;
  margin: 10px auto;
  display: block;
  width: 80%;
}

.option-box .colors-list {
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}
.option-box .colors-list li {
  width: 20px;
  height: 20px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  display: inline-block;
  transition: 0.3s;
  border: 3px solid #eee;
}
.option-box .colors-list li:nth-child(1) {
  background-color: #001f3f;
}
.option-box .colors-list li:nth-child(2) {
  background-color: #3498db;
}
.option-box .colors-list li:nth-child(3) {
  background-color: #2ecc71;
}
.option-box .colors-list li:nth-child(4) {
  background-color: #ea910c;
}
.option-box .colors-list li:nth-child(5) {
  background-color: #d4ac0d;
}
.option-box .colors-list li.active {
  margin: 0 2px;
  border-color: #fff;
  opacity: 1;
}

.option-box .random-backgrounds .yes.active {
  opacity: 1;
}
.option-box .random-backgrounds .no.active {
  opacity: 1;
}

.our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
}
.our-team .container {
  padding-top: 0;
  padding-bottom: 0;
}
.our-team .container h1 {
  transition: 0.3s;
  text-align: center;
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 3.25em;
  font-family: "Raleway", sans-serif;
  margin: 0;
  margin-bottom: 40px;
}
.our-team .container .team-members {
  display: flex;
  gap: 20px;
}
.our-team .container .team-members .team-member {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  border: 1px solid #bcd1e7;
  padding: 25px;
  min-width: 380px;
}
@media (max-width: 1200px) {
  .our-team .container .team-members .team-member {
    min-width: 295px;
  }
}
@media (max-width: 576px) {
  .our-team .container .team-members .team-member {
    min-width: 275px;
  }
}
.our-team .container .team-members .team-member .member-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.our-team .container .team-members .team-member .member-info .member-image {
  width: 56px;
  height: 56px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  border: 2px solid #d9d9d9;
}
@media (max-width: 992px) {
  .our-team .container .team-members .team-member .member-info .member-image {
    width: 50px;
    height: 50px;
  }
}
.our-team .container .team-members .team-member .member-info .mmbr1 {
  background-image: url("../images/member-one.jpg");
}
.our-team .container .team-members .team-member .member-info .mmbr2 {
  background-image: url("../images/member-tow.jpg");
}
.our-team .container .team-members .team-member .member-info .mmbr3 {
  background-image: url("../images/member-three.jpg");
}
.our-team .container .team-members .team-member .member-info h3 {
  transition: 0.3s;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 1.6;
}
.our-team .container .team-members .team-member .member-info .role {
  color: #5f5f5f;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.our-team .container .team-members .team-member p {
  color: #8d8d8d;
  font-family: "Roboto", sans-serif;
  line-height: 1.375;
  font-weight: 400;
}
.our-team .container .team-members .team-member .socail-icons {
  margin-top: auto;
}
.our-team .container .team-members .team-member .socail-icons i {
  color: #3d445c;
  margin-right: 15px;
  font-size: 26px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .our-team .container .team-members .team-member {
    width: 100%;
    padding: 20px 25px;
  }
}
@media (max-width: 992px) {
  .our-team .container .team-members {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .our-team .container .team-members {
    align-items: center;
  }
}

.about-us {
  background-color: #bcd1e7;
}
.about-us .container {
  margin: 0 auto;
}
@media (max-width: 992px) {
  .about-us .container {
    display: block;
  }
}
.about-us .container .content-box h2 {
  transition: 0.3s;
  text-align: center;
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 3.25em;
  font-family: "Raleway", sans-serif;
  margin: 0;
  margin-bottom: 40px;
  text-wrap: balance;
  margin-bottom: 18px;
}
@media (max-width: 576px) {
  .about-us .container .content-box h2 {
    font-size: 2.5em;
  }
}
.about-us .container .content-box p {
  margin: 0;
  color: #767676;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-right: 110px;
}
@media (max-width: 992px) {
  .about-us .container .content-box p {
    padding: 0 30px;
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .about-us .container .content-box p {
    font-size: 1em;
    width: 90%;
    text-align: center;
    padding: 0;
    margin: 0 auto 40px;
  }
}
.about-us .container .content-box p a {
  color: #767676;
  text-decoration: underline;
}
.about-us .container .imgs-box {
  text-align: center;
}
@media (max-width: 1200px) {
  .about-us .container .imgs-box img {
    width: 480px;
  }
}
@media (max-width: 576px) {
  .about-us .container .imgs-box img {
    width: 250px;
  }
}

.skills h1 {
  transition: 0.3s;
  text-align: center;
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 3.25em;
  font-family: "Raleway", sans-serif;
  margin: 0;
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  .skills h1 {
    font-size: 2.5em;
  }
}
.skills .box-skills {
  gap: 15px;
}
@media (max-width: 768px) {
  .skills .box-skills {
    display: block;
  }
}
.skills .box-skills .skill {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 1px solid #bcd1e7;
  width: 350px;
  height: 440px;
  position: relative;
  padding: 20px 20px 40px;
  justify-content: space-between;
  border-radius: 12px;
}
@media (max-width: 992px) {
  .skills .box-skills .skill {
    height: 460px;
  }
}
@media (max-width: 768px) {
  .skills .box-skills .skill {
    width: 100%;
    margin-bottom: 30px;
    height: fit-content;
  }
}
.skills .box-skills .skill .outer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: -11px -5px 20px 5px rgba(0, 0, 0, 0.1) inset;
  position: relative;
}
.skills .box-skills .skill .outer .inner {
  width: 170px;
  height: 170px;
  background: white;
  border-radius: 50%;
  box-shadow: -3px 5px 20px 0px rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills .box-skills .skill .outer .inner .number {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
}
.skills .box-skills svg {
  position: absolute;
  z-index: 1;
  transform: rotate(-90deg);
}
.skills .box-skills svg circle {
  stroke: var(--primary-color);
  stroke-width: 13px;
  stroke-dasharray: 566;
  stroke-dashoffset: 566;
  transition: stroke-dashoffset 2s linear;
}
.skills .box-skills .content h3 {
  font-size: 1.2em;
  color: var(--primary-color);
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
.skills .box-skills .content p {
  font-size: 0.9em;
  color: #8d8d8d;
  font-family: "Roboto", sans-serif;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.timeline {
  background-color: var(--primary-color);
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: #bcd1e7;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
}
.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: #bcd1e7;
  position: relative;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  padding: 2px 5px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 576px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    border-top: 15px solid var(--primary-color);
  }
}
.timeline .timeline-content .left {
  float: left;
}
@media (max-width: 576px) {
  .timeline .timeline-content .left {
    width: 100%;
    margin-top: 50px;
    float: none;
  }
}
.timeline .timeline-content .left::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #bcd1e7;
  position: absolute;
  right: -36px;
  top: 35px;
}
@media (max-width: 576px) {
  .timeline .timeline-content .left::before {
    top: -35px;
    right: 50%;
    transform: translateX(50%);
  }
}
.timeline .timeline-content .left .content::before {
  content: "";
  border-width: 10px;
  border-color: transparent transparent transparent white;
  border-style: solid;
  height: 0;
  width: 0;
  position: absolute;
  right: -19px;
  top: 35px;
}
@media (max-width: 576px) {
  .timeline .timeline-content .left .content::before {
    border-color: transparent transparent white transparent;
    top: -18px;
    right: 50%;
    transform: translateX(50%);
  }
}
.timeline .timeline-content .right {
  float: right;
}
@media (max-width: 576px) {
  .timeline .timeline-content .right {
    width: 100%;
    margin-top: 50px;
  }
}
.timeline .timeline-content .right::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #bcd1e7;
  position: absolute;
  left: -35px;
  top: 35px;
}
@media (max-width: 576px) {
  .timeline .timeline-content .right::before {
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.timeline .timeline-content .right .content::before {
  content: "";
  border-width: 10px;
  border-color: transparent white transparent transparent;
  border-style: solid;
  height: 0;
  width: 0;
  position: absolute;
  left: -19px;
  top: 35px;
}
@media (max-width: 576px) {
  .timeline .timeline-content .right .content::before {
    border-color: transparent transparent white transparent;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.timeline .timeline-content .clearfix {
  clear: both;
}
.timeline .timeline-content .content {
  padding: 20px;
  background-color: white;
  border-radius: 6px;
}
.timeline .timeline-content .content h3 {
  color: var(--primary-color);
  font-size: 1.2em;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.timeline .timeline-content .content p {
  color: #8d8d8d;
  margin: 0;
  line-height: 1.6;
}

.gallery h1 {
  transition: 0.3s;
  text-align: center;
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 3.25em;
  font-family: "Raleway", sans-serif;
  margin: 0;
  margin-bottom: 40px;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 200px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 3px;
  cursor: pointer;
  transition: 0.3s;
}
.gallery .images-box img:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.services .service {
  background: var(--primary-color);
}
.services .service .container {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .services .service .container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .services .service .container .content-box {
    text-align: center;
    width: 100%;
  }
}
.services .service .container .content-box h1 {
  transition: 0.3s;
  text-align: center;
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 3.25em;
  font-family: "Raleway", sans-serif;
  margin: 0;
  margin-bottom: 40px;
  color: white;
  text-align: start;
  width: 400px;
  margin: 0;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .services .service .container .content-box h1 {
    font-size: 2em;
  }
}
@media (max-width: 992px) {
  .services .service .container .content-box h1 {
    text-align: center;
    width: 100%;
  }
}
.services .service .container .content-box p {
  width: 600px;
}
@media (max-width: 1200px) {
  .services .service .container .content-box p {
    font-size: 1em;
    width: 80%;
  }
}
@media (max-width: 992px) {
  .services .service .container .content-box p {
    text-align: center;
    width: 100%;
  }
}
.services .service .container .content-box ul {
  width: 700px;
  padding-left: 25px;
  text-wrap: balance;
}
@media (max-width: 1200px) {
  .services .service .container .content-box ul {
    font-size: 1em;
    width: 80%;
  }
}
.services .service .container .content-box ul li {
  list-style-type: disc;
}
@media (max-width: 992px) {
  .services .service .container .content-box ul li {
    text-align: start;
  }
}
.services .service .container .images-box {
  position: relative;
}
.services .service .container .images-box .image {
  overflow: hidden;
  border-radius: 12px;
  width: 430px;
}
.services .service .container .images-box .image img {
  width: 100%;
}
@media (max-width: 576px) {
  .services .service .container .images-box .image {
    display: none;
  }
}
.services .service .container .images-box .team-member {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  background-color: white;
  padding: 25px;
  max-width: 460px;
  position: relative;
  top: -120px;
  left: -90px;
}
@media (max-width: 768px) {
  .services .service .container .images-box .team-member {
    left: 0;
    width: 430px;
  }
}
@media (max-width: 576px) {
  .services .service .container .images-box .team-member {
    left: 0;
    top: 0;
    width: 100%;
  }
}
.services .service .container .images-box .team-member .member-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.services .service .container .images-box .team-member .member-info .member-image {
  overflow: hidden;
  width: 56px;
  height: 56px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  border: 2px solid #d9d9d9;
}
.services .service .container .images-box .team-member .member-info .member-image img {
  width: 100%;
}
.services .service .container .images-box .team-member .member-info .member-name {
  transition: 0.3s;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 1.6;
}
.services .service .container .images-box .team-member .member-info .role {
  color: #5f5f5f;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.services .service .container .images-box .team-member p {
  font-family: "Roboto", sans-serif;
  color: #8d8d8d;
  line-height: 1.375;
  font-weight: 400;
}
.services .cyber-security {
  background-color: white;
}
.services .cyber-security .container .content-box h1 {
  color: var(--primary-color);
  border-bottom: 22px;
}
.services .cyber-security .container .content-box p {
  color: #6a6a6a;
}
.services .cyber-security .container .images-box .team-member {
  box-shadow: 2px 4px 14px 0px rgba(0, 0, 0, 0.2);
}

.testimonials {
  padding: 50px 0 50px 100px;
  display: flex;
}
@media (max-width: 768px) {
  .testimonials {
    flex-direction: column;
  }
}
.testimonials .content-box {
  flex: 1;
}
.testimonials .content-box h3 {
  color: #00a6fb;
  text-transform: capitalize;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  position: relative;
}
.testimonials .content-box h3::before {
  content: "";
  background-color: #00a6fb;
  height: 100px;
  width: 4px;
  position: absolute;
  left: -30px;
}
.testimonials .content-box p {
  margin: 0;
  color: var(--primary-color);
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.testimonials .content-box .arrows {
  margin-top: 120px;
}
@media (max-width: 768px) {
  .testimonials .content-box .arrows {
    margin-left: 20px;
  }
}
.testimonials .content-box .arrows i {
  width: 70px;
  height: 70px;
  padding: 20px 0;
  background-color: #d9d9d9;
  color: #001f3f;
  border-radius: 50%;
  font-size: 30px;
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
}
.testimonials .testimonials-boxs {
  display: flex;
  position: relative;
  right: 0;
  flex: 1;
  max-width: 930px;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .testimonials .testimonials-boxs {
    margin-top: 50px;
    max-width: 430px;
  }
}
.testimonials .testimonials-boxs .testimonials-box {
  transition: 0.6s ease-in-out;
  margin: 0;
  margin-right: 16px;
  margin-left: 16px;
  padding: 20px;
  border-radius: 20px;
  min-width: 430px;
  background-color: #f2c110;
}
@media (max-width: 992px) {
  .testimonials .testimonials-boxs .testimonials-box {
    min-width: 340px;
  }
}
.testimonials .testimonials-boxs .testimonials-box:nth-of-type(even) {
  background-color: #f44900;
}
.testimonials .testimonials-boxs .testimonials-box p {
  color: #19281d;
  font-family: "Outfit", sans-serif;
  font-size: 1.75em;
  margin: 35px 0;
}
.testimonials .testimonials-boxs .testimonials-box .clients {
  padding: 12px 25px;
  border-radius: 6px;
  border: none;
  background: #19281d;
  cursor: pointer;
  width: fit-content;
  color: white;
  color: #f44900;
}
.testimonials .testimonials-boxs .testimonials-box:nth-child(odd) .clients:nth-child(odd) {
  color: #f2c110;
}

.contact {
  background-color: #bcd1e7;
}
.contact .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact .container .message-form {
  display: flex;
  flex-direction: column;
}
.contact .container .message-form h3 {
  align-self: flex-end;
  color: #00a6fb;
  text-transform: capitalize;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  position: relative;
}
.contact .container .message-form h3::before {
  content: "";
  background-color: #00a6fb;
  height: 100%;
  width: 4px;
  position: absolute;
  right: -10px;
}
.contact .container .message-form p {
  text-align: end;
  width: 600px;
  margin: 0;
  color: var(--primary-color);
  font-size: 3.25em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.contact .container .message-form form {
  width: 600px;
  display: flex;
  flex-direction: column;
  color: #8d8d8d;
}
.contact .container .message-form form .name {
  margin-top: 30px;
}
.contact .container .message-form form .textarea {
  resize: none;
  min-height: 120px;
}
.contact .container .message-form form .textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.2s;
}
.contact .container .message-form form .textarea:focus::-ms-input-placeholder {
  opacity: 0;
  transition: 0.2s;
}
.contact .container .message-form form .submit {
  padding: 15px 20px;
  border-radius: 12px;
  border: none;
  background: #00a6fb;
  cursor: pointer;
  width: fit-content;
  color: white;
  width: 100%;
}

.footer .container {
  display: flex;
}
.footer .container .logo {
  flex: 3;
}
.footer .container .logo .address {
  width: 200px;
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.footer .container h3 {
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-transform: capitalize;
}
.footer .container .join-section {
  flex: 2;
  color: var(--primary-color);
}
.footer .container .join-section .contact-email {
  margin-bottom: 15px;
}
.footer .container .join-section .contact-email a {
  display: inline;
}
.footer .container .join-section a {
  color: var(--primary-color);
  display: block;
  margin-bottom: 15px;
}
.footer .container .contact-us {
  flex: 2;
  color: var(--primary-color);
}
.footer .container .contact-us div {
  margin-bottom: 15px;
}
.footer .container .contact-us .socail-icons i {
  font-size: 20px;
  margin-right: 10px;
}
.footer .container .contact-us .info-em a {
  color: var(--primary-color);
}

.copy-right {
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 30px;
}