@use "../base/variables" as *;
@use "../components/components" as *;

.about-us {
  background-color: #bcd1e7;
  .container {
    width: 1300px;
    @extend %flex-between;
    margin: 0 auto;

    .content-box {
      flex: 1;
      h2 {
        color: $primary-color;
        font: {
          size: 3.25em;
          family: $heads-ff;
          weight: 700;
        }
        text-wrap: balance;
        margin-bottom: 18px;
      }
      p {
        margin: 0;
        color: #767676;
        font-family: $secondary-ff;
        font-weight: 400;
        padding-right: 110px;
        a {
          color: #767676;
          text-decoration: underline;
        }
      }
    }
    .imgs-box {
      flex: 1;
      text-align: center;
    }
  }
}
