@use "../base/mixin" as *;
@use "../base/variables" as *;

.timeline {
  background-color: $primary-color;

  .timeline-content {
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      width: 2px;
      height: 100%;
      background-color: #bcd1e7;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -1px;
    }
    .year {
      margin: 20px auto;
      width: 50px;
      background-color: #bcd1e7;
      position: relative;
      z-index: 2;
      border-radius: 4px;
      text-align: center;
      padding: 2px 5px;
      font-weight: bold;
      font-family: $secondary-ff;
      color: $primary-color;
    }
    .left,
    .right {
      width: calc(50% - 25px);
      margin-bottom: 40px;
      position: relative;

      @include mobile {
        border-top: 15px solid $primary-color;
      }
    }
    .left {
      float: left;
      @include mobile {
        width: 100%;
        margin-top: 50px;
        float: none;
      }
      &::before {
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: white;
        border: 3px solid #bcd1e7;
        position: absolute;
        right: -36px;
        top: 35px;
        @include mobile {
          @include centerPosHorizontaly(right, -35px, 50%);
        }
      }
      .content::before {
        content: "";
        border-width: 10px;
        border-color: transparent transparent transparent white;
        border-style: solid;
        height: 0;
        width: 0;
        position: absolute;
        right: -19px;
        top: 35px;
        @include mobile {
          border-color: transparent transparent white transparent;
          @include centerPosHorizontaly(right, -18px, 50%);
        }
      }
    }
    .right {
      float: right;
      @include mobile {
        width: 100%;
        margin-top: 50px;
      }
      &::before {
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: white;
        border: 3px solid #bcd1e7;
        position: absolute;
        left: -35px;
        top: 35px;
        @include mobile {
          @include centerPosHorizontaly(left, -35px, -50%);
        }
      }
      .content::before {
        content: "";
        border-width: 10px;
        border-color: transparent white transparent transparent;
        border-style: solid;
        height: 0;
        width: 0;
        position: absolute;
        left: -19px;
        top: 35px;
        @include mobile {
          border-color: transparent transparent white transparent;
          @include centerPosHorizontaly(left, -18px, -50%);
        }
      }
    }
    .clearfix {
      clear: both;
    }
    .content {
      padding: 20px;
      background-color: white;
      border-radius: 6px;

      h3 {
        color: $primary-color;
        font-size: 1.2em;
        text-transform: capitalize;
        font-family: $heads-ff;
        font-weight: 700;
      }
      p {
        color: $secondary-color;
        margin: 0;
        line-height: 1.6;
      }
    }
  }
}
