@use "base/variables" as *;
* {
  box-sizing: border-box;
}
:root {
  --primary-color: #001f3f;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $main-ff;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  padding: 0 15px;
}
