@use "base/variables" as *;
@use "mixin" as *;
* {
  box-sizing: border-box;
}
:root {
  --primary-color: #001f3f;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $main-ff;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  padding: 50px 15px;
  width: 1300px;
  margin: 0 auto;
}
@include largeDesktop {
  .container {
    max-width: 1140px;
  }
}

@include desktop {
  .container {
    max-width: 960px;
  }
}

@include tablet {
  .container {
    max-width: 720px;
  }
}
@include mobile {
  .container {
    max-width: 540px;
  }
}
