/// font-family
$testimonials-ff: "Outfit", sans-serif;
$main-ff: "Poppins", sans-serif;
$heads-ff: "Raleway", sans-serif;
$secondary-ff: "Roboto", sans-serif;

// background-images
$landing-page-bg: url("../../images/bg-2.jpg");

// colors

$primary-color: var(--primary-color);
$secondary-color: #8d8d8d;
